fastapi
langchain
uvicorn
pydantic
langchain-community
openai
jieba
python-multipart
rank_bm25
httpx
chardet
pymysql
pytz
faiss-cpu
langchain-elasticsearch 
langchain-openai 
tiktoken 
langchain
unstructured[all-docs]
xinference
